.btn-choice {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(223, 122, 169);


  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(223, 54, 133);
  }
}

button.active-btn{
  background-color: rgb(223, 54, 133);
}