.save {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 14px;
  width: 100px;
  align-self: center;

  &:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  &:active {
    background-color: #1e7e34;
    border-color: #1c7430;
  }
}
