.backdrop {
  z-index: 50;
  // background: rgba(0, 0, 0, 1);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,120,1) 23%, rgba(0,212,255,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}