.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #260dfb;
  span {
    font-size: 24px;
  }
  .footer__link {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .footer__link_img {
    max-height: 45px;
    width: 100%;
  }
}