.options {
  margin-left: 50px;

  h1 {
    color: #fff;
    text-align: center;
    font-size: 42px;
  }
}

.btns {
  border-top: 2px solid #ecec20;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

@media (max-width: 980px) {
  h1 {
    position: absolute;
    top: 10px;
    font-size: 26px;
  }
  .options {
    margin-left: 0;
  }

  .btns {
    border-top: none;
  }
}