@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus { outline: none; }

body {
  width: 100%;
  font-family: cursive;
  font-size: 18px;
  background-color: #1672ec;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.layout {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.modal{
  position: fixed;
  transform: translate(-50%, -50%);
  transition: transform .22s ease-in;
  width: 400px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.close {
    transform: translate(80vw, -50%);
  }
}

.line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 980px) {
  .wrapper {
    padding: 10px;
  }
  .layout {
    flex-direction: column;
    align-items: center;
  }
}